/* global styles */
body {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 154, 38);
}

.container{
    margin-top: 13%;
}

/* image */
.avatar {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    
}

/* main card */
.card {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: rgb(221, 221, 221);
    color: black;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    gap: 20px;
    flex-direction: row;
}

/* cool effects */
.card:hover {
    background: rgb(255, 255, 0);
    color: white;
}

/* responsive styles */
@media (max-width: 1200px) {
    .card {
        max-width: 700px;
    }

    .avatar {
        max-width: 350px;
    }
}

@media (max-width: 1024px) {
    .card {
        max-width: 600px;
    }

    .avatar {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        max-width: 90%;
    }

    .avatar {
        width: 100%;
        max-width: 100%;
    }

    .card-content h3 {
        font-size: 1.5em;
    }

    .card-content p,
    .card-content h4 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
        padding: 10px;
    }

    .avatar {
        width: 100%;
        max-width: 100%;
    }

    .card-content h3 {
        font-size: 1.2em;
    }

    .card-content p,
    .card-content h4 {
        font-size: 1em;
    }
}